.event-cards {
  min-height: 120px;
}

.event-title {
  color: #EE7335;
  margin: 5px 10px 15px 0;
}

.event-title:hover {
  color: #34495E;
}

.big-calendar {
  margin-top: 2em;
}

.events-header {
  font-size: 3em !important;
}

div p {
  font-size: 16px;
}

.rbc-toolbar-label {
  font-size: 24px !important;
}

